@model string

    <style>
    .msg {
        position: absolute;
        top: 200px;
        bottom: 30px;
        margin-bottom: auto;
        background-color: rgba(72, 189, 49, 0.249);
        display:block;
        overflow: scroll;
        width:100%;
        white-space:nowrap;
    }
</style>

    <head>
        <meta charset="utf-8" />
        <title>Customer Service</title>
    </head>

    <body style="margin-top:60px">
        <div id="chat">
            <p id="test">Hello</p>
            <p id="available">No Available</p>
            <!-- <p>From: <input type="text" id="from"></p> -->
            <p>To:<input type="text" id="to" /></p>
            <p>content:<input type="text" id="content" /></p>
            <p><button id="Send">Send</button></p>
            <ul id="messages"></ul>
            <div class="msg">
                <div style="position:absolute; bottom:0;" id="msgs"></div>
            </div>
        </div>  
    </body>



    <script>
        var socket = undefined;
        
         //var username = document.getElementById(from).value;
        var userName = "@Model";
        //要改 userName 以后要变成userID
        if (userName){ //userName
            var uri = "ws://" + window.location.host + "/LiveChat?Name=" + userName; //以后要改成id
            socket = new WebSocket(uri);  
            socket.onopen = function () {
                
            };
            
            var list = document.getElementById("messages");
            document.getElementById("Send").onclick = function () {
                
                 socket.send(JSON.stringify({
                    //Sender: userName;
                    Receiver: document.getElementById("to").value,
                    Message: document.getElementById("content").value
                }));

                //这个要改成在send里面加一个sender,现在先不改
                socket.send(JSON.stringify({
                    Receiver: userName,
                    Message: document.getElementById("content").value
                }));
                document.getElementById("content").value = "";
            }
       

                socket.onmessage = function (event) {
                    var result = JSON.parse(event.data);
                    var name = result.Sender;
                    var message = result.Message;
                    var item = document.createElement("li");
                    item.appendChild(document.createTextNode((name + ": " + message)));
                    list.appendChild(item);
                };

        }
        else{
            document.getElementById('test').innerHTML = "Bye" //this is a test

        }
        
    </script>