
@{
    ViewData["Title"] = "Chat";
}
<style>

    span.emotion { width: 42px; height: 20px; padding-left: 20px; cursor: pointer }
    span.emotion:hover { background-position: 2px -28px }
    .qqFace { margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
    .qqFace table td { padding: 0px; }
    .qqFace table td img { cursor: pointer; border: 1px #fff solid; }
    .qqFace table td img:hover { border: 1px #0066cc solid; }
    .msg {
        position: absolute;
        top: 0;
        bottom: 30px;
        height: 80%;
        border: 1px solid black;
        margin-bottom: auto;
        display:block;
        overflow: scroll;
        width:100%;
        white-space:nowrap;
    }
    .col-md-9{
        height: 500px;
    }
    .col-md-3{
        height: 500px;
    }
    .input{
        margin-top: 400px;
        margin-right: 0px;
        width: 100%;
    }
    .text{
        max-width:unset;
        width:460px;
        padding: 10px;
        margin-left: 0px;
        
    }
    .emotion{
        
        margin-left: 0px;
        margin-top: 0px;
    }


    
</style>

<h2 style="margin-top:60px">Chat Room</h2>
<hr>
<div class="row">
     <div class="col-md-3">
         <p id="test"></p>
         <p>Currently Online: </p>
         <div id="availableUser"></div>
     </div>
     <div class="col-md-9">
        <div class="msg" >
             <div style="position:absolute; bottom:0;" id="msgs"></div>
        </div>
        <div class="input"> 
            <table>
                <tr>
                    <td >
                        <input type="text" class="text" id="MessageField" name="MessageField" placeholder="type message and press enter" />   
                    </td>
                    <td>
                        <span class="emotion">emoji</span>
                    </td>
                </tr>
            </table>     
        </div>     
     </div>
</div>












@section Scripts {
    <script  src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.qqFace.js"></script>
    <script> 
        window.onload=function()
        { 
            if(document.readyState=="complete")
            {
                document.getElementById("MessageField").focus(); 
            }
        }

        $('.emotion').qqFace({
            id : 'facebox', 
            assign: 'MessageField', 
            path:'arclist/'	
        });

        var userName = "@ViewData["UserName"]";
        var historicalMessage = @Html.Raw(@ViewBag.historicalMessage);
        var historicalBar = "--------------------------History-------------------------";
        var onlineName=[];
        var test;

        if (historicalMessage.length != 0){
            for (var i = 0; i < historicalMessage.length; i++) {
                var temp = historicalMessage[i];
                var isOnline = temp.search(": Welcome");
                var isOnline_Second = temp.search("SYSTEM");
                var isOffline = temp.search("left the chatroom. Now remains");
                var tempE =0;
                var tempName='';
                
               
                if(isOnline != -1 && isOnline_Second != -1){
                    tempE = temp.search("!");
                    tempName = temp.substring(18, tempE);
                    onlineName.push(tempName);
                }
                 if(isOffline != -1){
                    tempE = isOffline-1;
                    tempName = temp.substring(10, tempE);
                    var a = onlineName.indexOf(tempName);
                    test=tempName;
                    onlineName.splice(a, 1);
                }


                $('#msgs').append(replace_em(historicalMessage[i]) + '<br />');
            };
            $('#msgs').append(historicalBar + '<br />');
             document.getElementById("test").innerHTML = test;
            if(onlineName.length !=0){
                var uniqueArr = onlineName.filter(function(elem, index, self){
                    return index ===self.indexOf(elem);
                })
                for(var j=0; j<uniqueArr.length; j++){
                    $('#availableUser').append(replace_em(uniqueArr[j]) +'<br />');
                }  
            }  
        }


        var wsUri = `ws://${window.location.host}/ws`;
        var socket = new WebSocket(wsUri);

        

        socket.onopen = e => {
            var welcomeMessage = `[SYSTEM]: Welcome ${userName}!`
            socket.send(welcomeMessage);
            console.log("socket opened", e);
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            console.log(e);
            $('#msgs').append(replace_em(e.data) + '<br />');
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };

        $('#MessageField').keypress(function (e) {

            if (e.which != 13) {
                return;
            }

            e.preventDefault();
            var str = $('#MessageField').val();
            var message = `${userName}: ${str}`;
            socket.send(message);
            $('#MessageField').val('');
            document.getElementById("MessageField").focus();
        });

        function replace_em(str){
            str = str.replace(/\</g,'&lt;');
            str = str.replace(/\>/g,'&gt;');
            str = str.replace(/\n/g,'<br/>');
            str = str.replace(/\[em_([0-9]*)\]/g,'<img src="arclist/$1.gif" border="0" />');
            return str;
        }

        function dbClose(){
            socket.close();
        }


    </script>
}
