
<!-- @Html.ValidationSummary() -->
<!-- <p>没有login的 就默认为guest，login的就是他们的username</p> -->
<form action="@Url.Action("Index")" method="post">
    <p>Fake login page</p>
    <input type="text" placeholder="Insert user name" name="userName" />
    <input type="submit" value="Enter" />
</form>