@model BookBarn.Models.SearchViewModels.SearchViewModel

	<form asp-controller="Search" asp-action="Index" method="get">
		<select asp-for="SearchType" asp-items="Model.SearchTypes">
			<option value="title">Title</option>
			<option value="author">Author</option>
			<option value="isbn">ISBN</option>
		</select>

		<input type="text" name="id" />
		<input type="submit" value="Search" />
	</form>