<h1 style="margin-top:60px"> Address Limit </h1>

<h2> Sorry, right now we only accept one address for each user. We will allow multi-address later.</h2>

<p>Please click <a asp-action="Index">here</a> to go back to previous page</p>


