<h1 style="margin-top:60px"> Cannot Delete </h1>

<h2> You cannot delete this item as it was bought by customers</h2>

<p> Click<a href="/SaleItems"> here </a>to return to your personal SaleItems page </p>
