@model string

<h1>Request for Assistance</h1> 

 <form action="@Url.Action("Index")" method="post">

    <label>Username:</label>
    <input type="text" name="customerEmail" />
    <br><br>
    <label>Details about the problem:</label> 
    <textarea name="customerRequest" cols="45" rows="4"></textarea> 
    <p><input type="submit" value="Enter" /></p> 
	<p> @Model </p>

</form>


