@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
   <div class="row" class="add-margin">
    <div class="col-md-4">
         <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>
            Thank you! Your email has been confirmed. Please <a asp-action="Login">click here to log in</a>.
        </p>
    </div>
</div>
