@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
        Thank you! Your email has been confirmed.
    </p>
</div>
