@{
    ViewData["Title"] = "Confirm email";
}

<h2 class="add-margin">@ViewData["Title"]</h2>
<div>
   <div class="row">
    <div class="col-lg-8">
         <br>
        <br>
        <p>
            Thank you! Your email has been confirmed. Please <a asp-action="Login">click here to log in</a>.
        </p>
    </div>
</div>
