

<ul class="nav nav-pills nav-stacked">
    <li class="@NavigationBarPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@NavigationBarPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Password</a></li>    
    <li class="@NavigationBarPages.SeeSaleHistoryNavClass(ViewContext)"><a asp-action="SalesVisualization">See Sale History</a></li>  
</ul>