@using BookBarn.Views.AccountInfo
@{
    ViewData["Title"] = "Sales History";
    ViewData.AddActivePage(NavigationBarPages.SalesVisualization);
}
<h4>@ViewData["Title"]</h4>


<div><canvas id="lineChart"></canvas></div>

@{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"]; }

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/Chart.js/dist/Chart.js"></script>
    <script>
        @Html.Raw(chart.CreateChartCode("lineChart"));
    </script>
}