@{
    ViewData["Title"] = "Welcome";
}

@section AddToHead{
    <link href="@Url.Content("~/css/MainPage.css")" rel="stylesheet" type="text/css" />
}

<div class="pimg1">
</div>

<div class="plogo">
	<img src="images/logo-large.png" alt="Logo">
</div>

<section class="section section-light">
    <h2>Search for books</h2>
	<p>
		Find the books you need below!
	</p>
	@await Html.PartialAsync("_SearchPartial")
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border">
             <a href="/SaleItems/Search"> Catalog </a>
        </span>
    </div>z
</div>

<section class="section section-dark">
    <p>
        See our inventory above!
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
        <span class="border">
            <a href="/SaleItems/Create"> Sell books </a>
        </span>
    </div>
</div>

<section class="section section-dark">
    <p>
		Book Barn is a place where you can buy and sell books for your SFU classes.
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            <a href="/"> BookBarn </a>
        </span>
    </div>
</div>
