@*@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}*@

@{
    ViewData["Title"] = "Home Page";
}

<p>Welcome, @ViewData["Email"]</p>

<a href="@Url.Action("Register", "Users")">Register</a><br />
<a href="@Url.Action("Login", "Users")">Login</a>