@{
    ViewData["Title"] = "Welcome";
}

@section AddToHead{
    <link href="@Url.Content("~/css/MainPage.css")" rel="stylesheet" type="text/css" />
}

<div class="pimg1">
</div>

<div class="plogo">
	<img src="images/logo.png" alt="Logo">
</div>

<section class="section section-light">
    <h2>Search</h2>
	<p>
		Start by searching for available textbooks being sold.
	</p>
	@await Html.PartialAsync("_SearchPartial")
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border">
            Get started
        </span>
    </div>z
</div>

<section class="section section-dark">
    <p>
        Get started now and sell books.
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
        <span class="border">
            About
        </span>
    </div>
</div>

<section class="section section-dark">
    <p>
		Book Barn is a place where you can buy and sell books for your SFU classes.
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            BookBarn
        </span>
    </div>
</div>
