@{
    ViewData["Title"] = "Welcome";
}

@section AddToHead{
    <link href="@Url.Content("~/css/MainPage.css")" rel="stylesheet" type="text/css" />
}

<div class="pimg1">
</div>

<div class="plogo">
	<img src="images/logo-large.png" alt="Logo">
</div>

<section class="section section-light">
    <h2>Search for books</h2>
	<p>
		Find the books you need below!
	</p>
	@await Html.PartialAsync("_SearchPartial")
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border">
             <a href="/SaleItems/Search"> Catalog </a>
        </span>
    </div>z
</div>

<section class="section section-dark">
    <p>
        If you aren't already registered, start now by clicking on the 'Register' link on the top navigation bar. You can then immediately start buying and selling your own textbooks. Get started now!
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
        <span class="border">
            <a href="/SaleItems/Create"> Sell books </a>
        </span>
    </div>
</div>

<section class="section section-dark">
    <p>
		Book Barn was started in 2017 so there can be a place where students can buy and sell books for their university classes. It allows users to register and buy books from their peers by searching through its database, or sell books with automatic ISBN checking.
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            <a href="/"> BookBarn </a>
        </span>
    </div>
</div>
